.skills {
    background-color: #186CDE;
    width: 100%;
    top: 200%;
    position: relative;
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    padding-top: 70px;
    padding-bottom: 70px;
}
.skills h1{
    font-size: 35px;
    text-transform: uppercase;
    text-decoration-line: none;
    color: #fff;
    margin-bottom: 48px;
    margin-top: 0;
    padding: 0;
}
.skills h3 {
    color:  #E3B120;
    text-transform: uppercase;
}
.skills  .row {
    display: flex;
    color: #fff;  
    justify-content: space-around;
    font-size: 60px;
}
.skills .row .skillname {
    padding-top:1px;
}

.skills > .row h4 {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}


@media only screen and (max-width: 1000px) {
    
    .skills h2{
      text-align: center;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    .skills  .row {
        display: flex;
        color: #fff;  
        justify-content: space-around;
        font-size: 30px;
    }
    .skills{
        margin-right: 0;
        margin-left: 0;
        width: 100%; 
      }  

     }
