.skills {
    background-color: #186CDE;
    position: absolute;
    width: 100%;
    top: 200%;
    margin: 0 auto;
    height: 50vh;
    text-align: center;
    padding-bottom: 120px;
    text-decoration: none;
    padding-top: 120px;
}
.skills h2{
    font-size: 48px;
    text-transform: uppercase;
    text-decoration-line: none;
    color: #fff;
    margin-bottom: 48px;
    margin-top: 0;
    padding: 0;
}
.skills h2:after{
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: 0px;
    background-color: #E3B120;
}
.skills h3 {
    color:  #E3B120;
    text-transform: uppercase;
}
.skills > .row {
    display: flex;
    justify-content: space-around;
}
.skills > .row span, i {
    background-color: #fff;
    font-size: 100px;
    display: inline-block;
    border-radius: 20%;
    color: #E3B120;
    padding: 5px 5px 5px 5px;
}

.skills > .row h4 {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 2em;
    color: #fff;
}


@media only screen and (max-width: 723px) {
    .worksamples {
        top: 230%;
        margin: 0 auto;
     }
     }
