
  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 10px 0 30px 300px; 
   
  }
  li {
      flex: 3; 
  }
  .nav {
      background-color: #4E3A2F;
      opacity: 0.8;
  }

   .navheading {
      color: blanchedalmond;
      font-size: 1.3em;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
 

  @media only screen and (max-width: 600px) {
    ul{
        flex-direction: column;
    }
  }