.about-me {  
    margin: 0 auto;
    background-color: #FDE8F4;
    width: 100%;
    font-size: 1em;
    padding-top: 70px;
    padding-bottom: 70px;
    position: relative;
    color: #020259;
}
.about-me:after{  
    content: '';
    display: block;
    clear: both;
}
.about-me .col-left{
    width: 30%;
    float: left;
} 
.about-me .col-right {
    width: 70%;  
    float: right;
}

.about-me h1, h2, h3 { 
    text-align: center;
    text-transform: uppercase;
    position: relative;
}

.about-me .col-left img{
  max-width: 50% ;
  border-radius: 50%;
  padding-left: 5%;
  padding-right: 5%;
}
.about-me p {
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    font-size: 15px;
    font-family:  'Open Sans', sans-serif;
    overflow: hidden;
}
.about-me .button{
    position: relative;
    left: 40%;
    top: 67%;
    box-sizing: content-box;
    width: 100px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 1);
    font-weight: 300;
    background-color:  #E3B120;
    border-color: #E3B120;
    border-radius: 5%;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: darkblue;
    display: inline-block;
}
.about-me .button:hover{
    background-color: white;
    color: darkblue;
    border: 1px solid darkblue;
}

@media only screen and (max-width: 1000px ){
    
    .about-me h1, h2, h3 { 
      padding-top: 5px;
      font-size: 17px;
    }
    .about-me .col-right {
        min-width: 200px;
    }
    .about-me .col-left img{
        max-width: 100px ;
        padding-left: 10px;
        padding-right: 10px;
      }
    .about-me{
        flex-wrap: wrap;
        overflow-inline: inherit;
    }
   
     .about-me p {
         font-size: 12px;
         display: inline-block;
     }
     .about-me .button{
     position: relative;
     left: 25%; 
     top: 67%;
     height: 10%;
     z-index: 0;
     }
     .about-me{
        margin-right: 0;
        margin-left: 0;
        width: 100%; 
      }  
    }
